/* <style type="text/css"> */
html{
  height:100%;
}

body{
  height:100%;
}

main {
  background: #456;
  font-family: 'Open Sans', sans-serif;
  height:95%;
  padding-top:300px;
}

header{
  background-color:#44DEDE;
  height:50px;
}

.jmc_icon{
  border:1.2px black solid;
  border-radius:5px;
  float:left;
  margin-right:30px;
  margin-top:3px;
  margin-left:5px;
}

header h1{
  font-size:25px;
  color:#F5F5F5;
  margin:6px 0 0 0;
  float:left;
}

.top_login{

  float:right;
  /* width:30px; */
  height:30px;
  margin-right:100px;
  padding-top:2px;
  margin-top:10px;
  border-left:1px #dcdcdc solid;
  border-right:1px #dcdcdc solid;
}

header i{
  float:left;
}

.ng, .ok{
  width:50vh;
  margin:auto;
  font-size:1.5vh;
  /* box-sizing: border-box; */
  margin-top:-5vh;
  padding-top:20vh;
  background: #ebebeb;
  padding: 2vh;
  /* text-aligh: center; */
}

.ng p, .ok p{
  text-align: center;
}

input[type="button"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  padding:20px 100px;
}

input[type="button"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
input[type="button"]:focus {
  border-color: #05a;
}

input.font-awesome{
  font-family: Font-Awesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
/* </style> */
